
.bgImage{
display: flex;
justify-content: center;
   height: 700px;
   margin-top: 1%;
}
.pinkScreen{
    position: absolute;
    top: 120px;
    display: flex;
    justify-content: center ;
}
.navbar{
    background-color: rgb(247, 140, 158);
}
.logo{
    height: 60px;
}
